.Contacts {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 30px;
}
.ContactsTable {
	margin-top: 20px;
}
.form-group {
	margin-bottom: 0;
}
th.asc:after {
	font-family: FontAwesome;
	content: " \f0d8";
}
th.desc:after {
	font-family: FontAwesome;
	content: " \f0d7";
}
th,
.fa-trash,
.fa-pencil {
	cursor: pointer;
}